name: Delete-Image

on:
  workflow_dispatch: # 允许手动触发

jobs:
  delete-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: delete
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Delete GHCR Image
        uses: actions/delete-package-versions@v5
        with:
          package-name: 'mydocker-repo/puppeteer'
          package-type: 'container'
          token: ${{ secrets.DELETE_TOKEN }} 
          version: ''
